MX_H2I_BOOTSTRAP_BASE_URL=http://api.mxinfo-inc.cn:18090
MX_H2I_HOST_RESOLVE=api.mxinfo-inc.cn=121.43.253.179
MX_H2I_INTERNAL_BASE_URL=http://10.88.88.88:18090
MX_H2I_SPLIT_DNS_DOMAINS=mxinfo-inc.cn,api.mxinfo-inc.cn